
  
<%- include('../partials/header.ejs'); -%>
<a href="#" class="btn btn-secondary">Update Your Profile!</a>
<div id="profile-identity" class="text-center">
    <h1>Hello, <%= capitlizeFirstLetter(currentUser.username) %></h1>
    <% if(currentUser.image){ %>
      <img src="<%= currentUser.image %>" class="rounded" alt="...">
    <% } else {%>
      <img src="https://images.unsplash.com/photo-1544502062-f82887f03d1c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1127&q=80" class="rounded" alt="...">
      <% }%>
  </div>

  <div class="container">
    <h3 class = "mt-3">Your artwork </h3>
    <a href="/paintings/new" class="btn btn-primary mb-4">Add a New Painting</a>

    <div class="art-gallery row">
      <% userPaintings.forEach(function(painting){ %>
          <div class="card p-2 col-lg-4">
              <img class="card-img-top" src="<%= painting.image %>" alt="Card image cap">
              <div class="card-body p-0 py-3">
                <h5 class="card-title"><%= painting.title %></h5>
                <p class="card-text"><%= painting.description.substring(0,60)%>...</p>
                <a href="/paintings/<%= painting._id %>" class="btn btn-secondary">More Info</a>
              </div>
            </div>
      <% }); %>
    </div>

    <h3 class="mt-5 mb-3">Your Comments </h3>

    <ul class="comment-container p-0">

    <% userComments.forEach(function(comment){ %>
        <li class="comment d-flex align-items-center justify-content-between">
          <div class="comment-text">            
            <p class="font-weight-bold"><%= comment.headline %></p>
            <p><%= comment.text %></p>
          </div>
          <a href="/paintings/<%= comment.painting.id %>" class="btn btn-secondary">See Painting</a> 
        </li>
    <% }); %>

  </ul>
  </div>
 
<%- include('../partials/footer.ejs'); -%></form>